* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
}

.dark {
  background-color: #000;
}

.light {
  background-color: #fff;
}

.page-content {
  padding: 40px;
  display: flex;
}

.page-wrapper {
  padding: 16px;
}

body.light {
  background-color: #f9f9f9;
  color: #000;
}

body.dark {
  background-color: #121212;
  color: #fff;
}

button {
  padding: 8px 16px;
  border: none;
  background: #61dafb;
  cursor: pointer;
  border-radius: 4px;
}

.light p,
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light span {
  color: black;
}

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark span {
  color: white;
}

