* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
}

.page-content {
  flex: 1;
  padding: 40px;
  display: flex;
}

.page-wrapper {
  padding: 16px;
}

body.light {
  background-color: #f9f9f9;
  color: #000;
}

body.dark {
  background-color: #121212;
  color: #fff;
}



button {
  padding: 8px 16px;
  border: none;
  background: #61dafb;
  cursor: pointer;
  border-radius: 4px;
}
